header {
	background-color: $primary;

	@media only screen and (max-width: 992px) {
		padding: 10px 0;
	}

	.nav-bar {
		@media only screen and (max-width:992px) {
			order: 3;
		}

		> ul {
			margin-bottom: 0;
			padding-left: 0;

			@media only screen and (max-width:992px) {
				display: none;
				position: fixed;
				left: 0;
				right: 0;
				top: 70px;
				bottom: 0;
				overflow: auto;
				background-color: $white;
			}

			li {
				list-style: none;
				display: inline-block;

				@media only screen and (max-width:992px) { 
					display: block;
				}

				a {
					display: block;
					color: $white;
					margin: 0 10px;
					text-decoration: none;
					font-weight: 500;
					line-height: 70px;
					padding: 0 5px;
					border-bottom: 3px solid transparent;

					@media only screen and (max-width:992px) {
						color: $primary;
						line-height: 50px;
						border-bottom: none;
					}

					&:hover {
						color: $orange;
						border-bottom-color: $orange;
					}
				}

				&.sub-menu {
					> a {
						position: relative;

						@media only screen and (max-width: 992px) {
							background: url(../../images/down-arrow.png);

								background-repeat: no-repeat;
								background-size: 12px;
								background-position: 97% center;
						}

						&:hover:after {
							content: '';
							width: 10px;
							height: 10px;
							border: 10px solid transparent;
							border-top-color: $orange;
							position: absolute;
							left: 0;
							right: 0;
							top: 100%;
							margin: 0 auto;
							z-index: 1000;

							@media only screen and (max-width: 992px) {
								display: none;
							}
						}
					}
				}

				.mega-menu {
					background-color: $white;
					box-shadow: 0px 0px 3px #CCC;
					position: absolute;
					left: 12px;
					right: 12px;
					min-height: 400px;
					padding: 30px 18px;
					display: none;

					h5 {
						color: $orange;
						font-size: 16px;
						font-weight: 500;
						margin-bottom: 20px;
					}

					ul {
						margin: 0;
						padding: 0;
						max-width: 90%;

						@media only screen and (max-width: 992px) {
							max-width: 100%;
							padding-left: 15px;
						}

						li {
							margin-bottom: 20px;

							&:last-child {
								margin-bottom: 0;
							}

							a {
								line-height: 1.5;
								border-bottom: none;
								position: relative;
								margin: 0;
								padding: 0;
								padding-left: 27px;

								span {
									display: block;

									&.icon {
										position: absolute;
										left: 0;
										top: 0;
										width: 17px;
										height: 17px;

										img {
											width: 100%;
										}
									}

									&.heading {
										font-size: 12px;
										font-weight: 500;
										margin-bottom: 5px;
										color: $primary;
									}

									&.sub-text {
										color: $grey;
										font-size: 11px;
										font-weight: normal;
									}
								}

								&:hover {
									span {
										&.heading {
											color: $orange;
										}
									}
								}
							}
						}
					}

					@media only screen and (max-width: 992px) {
						position: static;
						background-color: transparent;
						box-shadow: none;
						padding: 15px;

						.row {
							display: block;

							.col {
								margin-bottom: 30px;
							}
						}
					}
				}

				&:hover {
					.mega-menu { display: block; }
				}
			}
		}

		.hamburger {
			background: none;
			border: none;
			cursor: pointer;
			width: 100px;
			display: none;

			@media only screen and (max-width: 992px) {
				display: block;
			}
		}
	}

	.member-area {
		gap: 15px;

		@media only screen and (max-width:992px) {
			order: 2;
		}
	}
}
